<div class="container">
  <section id="hero" class="hero d-flex align-items-center custom-hero mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">
            ¡Únete a la Revolución Contra el Desperdicio de Alimentos!
          </h1>
          <p class="fs-6" data-aos="fade-up" data-aos-duration="1000">
            En Desperdicio Cero, estamos comprometidos con la reducción del
            desperdicio de alimentos y la promoción de un estilo de vida
            sostenible. Descubre increíbles ofertas en alimentos de calidad,
            ayuda a reducir el desperdicio y ahorra dinero al mismo tiempo.
            Únete a nuestra comunidad y marca la diferencia hoy mismo. ¡Descarga
            la app y comienza tu viaje hacia un consumo más responsable!
          </p>
        </div>
        <div
          class="col-lg-6 hero-img"
          data-aos="zoom-out"
          data-aos-duration="1000"
        >
          <img
            src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="img-fluid rounded"
            alt="Image1"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- End Hero -->
  <main>
    <!-- ======= Values Section ======= -->
    <section id="values" class="values custom-value mt-5 mb-5">
      <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <header class="section-header">
          <h2>Nuestros Valores Fundamentales</h2>
          <p>Conoce Nuestros Compromisos</p>
        </header>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1000">
            <div class="box">
              <img
                src="https://images.unsplash.com/photo-1493770348161-369560ae357d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-fluid rounded"
                alt="Image2"
              />
              <h3 class="mt-2">Sostenibilidad</h3>
              <p>
                En Desperdicio Cero, creemos en un futuro sostenible. Trabajamos
                incansablemente para reducir el desperdicio de alimentos y
                promover prácticas de consumo responsables que beneficien tanto
                al medio ambiente como a la sociedad.
              </p>
            </div>
          </div>

          <div
            class="col-lg-4 mt-4 mt-lg-0"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <div class="box">
              <img
                src="https://images.unsplash.com/photo-1521986329282-0436c1f1e212?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-fluid rounded"
                alt="Image3"
              />
              <h3 class="mt-2">Accesibilidad</h3>
              <p>
                Queremos que todos tengan acceso a alimentos de calidad a
                precios asequibles. Nuestra plataforma facilita que los
                consumidores encuentren ofertas increíbles en productos frescos
                y deliciosos, contribuyendo a una alimentación más inclusiva y
                equitativa.
              </p>
            </div>
          </div>

          <div
            class="col-lg-4 mt-4 mt-lg-0"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <div class="box">
              <img
                src="https://images.unsplash.com/photo-1490645935967-10de6ba17061?q=80&w=2053&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-fluid rounded"
                alt="Image4"
              />
              <h3 class="mt-2">Comunidad</h3>
              <p>
                Valoramos la comunidad y el impacto positivo que podemos tener
                juntos. Al unir a consumidores y negocios locales, fomentamos
                relaciones más fuertes y un sentido de colaboración que
                beneficia a todos. Juntos, podemos hacer una gran diferencia.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Values Section -->
    <!-- Feature Tabs -->
    <div class="row feture-tabs custom-value mt-5 mb-5" data-aos="fade-up">
      <div class="col-lg-6">
        <h3>Funcionalidades de Desperdicio Cero</h3>

        <!-- Tabs -->
        <ul class="nav nav-pills mb-3">
          <li>
            <a class="nav-link active" data-bs-toggle="pill" href="#tab1"
              >Sostenibilidad</a
            >
          </li>
          <li>
            <a class="nav-link" data-bs-toggle="pill" href="#tab2"
              >Accesibilidad</a
            >
          </li>
          <li>
            <a class="nav-link" data-bs-toggle="pill" href="#tab3">Comunidad</a>
          </li>
        </ul>
        <!-- End Tabs -->

        <!-- Tab Content -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab1">
            <p>
              En Desperdicio Cero, creemos en un futuro sostenible. Trabajamos
              incansablemente para reducir el desperdicio de alimentos y
              promover prácticas de consumo responsables que beneficien tanto al
              medio ambiente como a la sociedad.
            </p>
            <div class="d-flex align-items-center mb-2">
              <i class="bi bi-check2"></i>
              <h4>Comprometidos con el Medio Ambiente</h4>
            </div>
            <p>
              En Desperdicio Cero, adoptamos prácticas sostenibles para
              minimizar el impacto ambiental. Nos enfocamos en reducir el
              desperdicio de alimentos, promoviendo un futuro más verde y
              saludable para todos.
            </p>
          </div>
          <!-- End Tab 1 Content -->

          <div class="tab-pane fade show" id="tab2">
            <p>
              Queremos que todos tengan acceso a alimentos de calidad a precios
              asequibles. Nuestra plataforma facilita que los consumidores
              encuentren ofertas increíbles en productos frescos y deliciosos,
              contribuyendo a una alimentación más inclusiva y equitativa.
            </p>
            <div class="d-flex align-items-center mb-2">
              <i class="bi bi-check2"></i>
              <h4>Alimentos para Todos</h4>
            </div>
            <p>
              Creemos que todos merecen acceso a alimentos de calidad. Nuestra
              plataforma facilita que cualquier persona pueda adquirir productos
              frescos a precios accesibles, apoyando una alimentación
              equilibrada para más personas.
            </p>
          </div>
          <!-- End Tab 2 Content -->

          <div class="tab-pane fade show" id="tab3">
            <p>
              Valoramos la comunidad y el impacto positivo que podemos tener
              juntos. Al unir a consumidores y negocios locales, fomentamos
              relaciones más fuertes y un sentido de colaboración que beneficia
              a todos. Juntos, podemos hacer una gran diferencia.
            </p>
            <div class="d-flex align-items-center mb-2">
              <i class="bi bi-check2"></i>
              <h4>Fortaleciendo Vínculos</h4>
            </div>
            <p>
              Valoramos el poder de la comunidad y buscamos fortalecerla al unir
              consumidores con negocios locales. Juntos, fomentamos una red
              solidaria y colaborativa que beneficia a todos y promueve el
              bienestar común.
            </p>
          </div>
          <!-- End Tab 3 Content -->
        </div>
      </div>

      <div class="col-lg-6">
        <img
          src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="img-fluid rounded"
          alt="Image5"
        />
      </div>
    </div>

    <!--Slider  -->
    <app-slider></app-slider>

    <!-- End Feature Tabs -->
    <div class="row feature-icons mt-5" data-aos="fade-up">
      <h3>Principales Características de Desperdicio Cero</h3>

      <div class="row">
        <div
          class="col-xl-4 text-center"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          <img
            src="https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="img-fluid rounded"
            alt="Image6"
          />
        </div>

        <div class="col-xl-8 d-flex content">
          <div class="row align-self-center gy-4">
            <div class="col-md-6 icon-box" data-aos="fade-up">
              <i class="ri-line-chart-line"></i>
              <div>
                <h4>Ofertas Diarias Actualizadas</h4>
                <p>
                  Mantente al día con las mejores ofertas en alimentos. Nuestra
                  plataforma se actualiza constantemente con descuentos frescos
                  de tus establecimientos favoritos.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-duration="1000"
            >
              <i class="ri-stack-line"></i>
              <div>
                <h4>Geolocalización Inteligente</h4>
                <p>
                  Encuentra las mejores ofertas cercanas a tu ubicación. Nuestra
                  función de geolocalización te ayuda a descubrir descuentos en
                  tu área para que puedas acceder a ellos rápidamente.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-duration="1000"
            >
              <i class="ri-brush-4-line"></i>
              <div>
                <h4>Notificaciones Personalizadas</h4>
                <p>
                  Recibe alertas sobre ofertas especiales y productos que te
                  interesan. Personaliza tus notificaciones para no perderte
                  ninguna oportunidad de ahorro.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-duration="1000"
            >
              <i class="ri-magic-line"></i>
              <div>
                <h4>Interfaz Amigable y Fácil de Usar</h4>
                <p>
                  Disfruta de una experiencia de usuario intuitiva y sencilla.
                  Nuestra aplicación está diseñada para que navegues y compres
                  de manera fácil y rápida.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-duration="1000"
            >
              <i class="ri-command-line"></i>
              <div>
                <h4>Reseñas y Calificaciones de Usuarios</h4>
                <p>
                  Estamos aquí para ayudarte en cualquier momento. Nuestro
                  equipo de soporte al cliente está disponible las 24 horas del
                  día, los 7 días de la semana, para resolver cualquier duda o
                  problema que puedas tener.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-duration="1000"
            >
              <i class="ri-radar-line"></i>
              <div>
                <h4>Soporte al Cliente 24/7</h4>
                <p>
                  Estamos aquí para ayudarte en cualquier momento. Nuestro
                  equipo de soporte al cliente está disponible las 24 horas del
                  día, los 7 días de la semana, para resolver cualquier duda o
                  problema que puedas tener.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Feature Icons -->
  </main>
</div>
