<section
  data-aos="fade-down"
  data-aos-duration="1000"
  id="specials"
  class="specials mt-5 mb-5"
  *ngIf="getRol()==='USUARIO'"
>
  <div class="container">
    <div class="section-title text-center">
      <h2>Impulsa tu Negocio con Desperdicio Cero</h2>
      <p>
        Únete a Desperdicio Cero y forma parte de una comunidad comprometida con
        la sostenibilidad y la reducción del desperdicio de alimentos. Aprovecha
        esta oportunidad para aumentar tus ventas, atraer nuevos clientes y
        contribuir a un mundo más sostenible. Descubre las ventajas de registrar
        tu negocio con nosotros y cómo podemos ayudarte a crecer.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1"
              >Aumenta tus Ventas</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2"
              >Atrae Nuevos Clientes</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3"
              >Promueve la Sostenibilidad</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4"
              >Mejora tu Imagen</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-5"
              >Gestiona Fácilmente tus Productos</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Vende tu Excedente de Alimentos</h3>
                <p class="fst-italic">
                  Con Desperdicio Cero, puedes convertir tus excedentes de
                  alimentos en ingresos adicionales. Ofrece descuentos
                  atractivos y encuentra clientes dispuestos a comprar tus
                  productos antes de que se desperdicien.a
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                  class="img-fluid rounded"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Amplía tu Base de Clientes</h3>
                <p class="fst-italic">
                  Nuestra plataforma te conecta con una nueva audiencia que
                  busca alimentos a precios reducidos. Atrae a nuevos clientes
                  que pueden convertirse en compradores recurrentes y fieles a
                  tu negocio.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="https://images.unsplash.com/photo-1576867757603-05b134ebc379?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                  class="img-fluid rounded"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Contribuye al Medio Ambiente</h3>
                <p class="fst-italic">
                  Al unirte a Desperdicio Cero, ayudas a reducir el desperdicio
                  de alimentos y a promover prácticas sostenibles. Haz que tu
                  negocio sea parte de la solución y gana reconocimiento por tus
                  esfuerzos ambientales.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="https://images.unsplash.com/photo-1621112904887-419379ce6824?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                  class="img-fluid rounded"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Posiciona tu Negocio como Responsable</h3>
                <p class="fst-italic">
                  Demuestra tu compromiso con la sostenibilidad y mejora la
                  percepción de tu marca. Los consumidores valoran a las
                  empresas que toman acciones responsables y sociales.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                  class="img-fluid rounded"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Panel de Control Intuitivo</h3>
                <p class="fst-italic">
                  Administra tus ofertas y productos de manera eficiente con
                  nuestro panel de control fácil de usar. Actualiza tus
                  listados, gestiona pedidos y mantén a tus clientes informados.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="https://images.unsplash.com/photo-1569937715496-0ccf6012b1a2?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                  class="img-fluid rounded"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
